{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "var/infection/infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "tmpDir": "var",
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "TrueValue": {
            "ignore": [
                "NameSpace\\*\\Class::method"
            ]
        }
    },
    "testFrameworkOptions": "-vvv"
}